<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rosterloh.workshopthing" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="com.google.android.things.permission.CHANGE_TIME" />
    <uses-permission android:name="com.google.android.things.permission.MANAGE_UPDATE_POLICY" />
    <uses-permission android:name="com.google.android.things.permission.PERFORM_UPDATE_NOW" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".App">

        <uses-library android:name="com.google.android.things" />

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="40ab90b8169c30c0dc9e5d6474992afd93362452" />
    </application>

</manifest>
